@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arz-container {
  width: 25rem;
  height: 35rem;
  background-color: rgb(37, 150, 190);
  padding: 1rem;
  font-family: "Lato", sans-serif;
}
